<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Homepage</title>
</head>

<body>
    <%- include('partials/header') %>
    <section class="section">
        <div class="container">
            <h1 class="title">
                Welcome to the Football
            </h1>
        </div>
    </section>
    <div>
        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/2776e993911739.5e711597aa9d3.jpg" alt="IndexBackground" width="100%">
    </div>
    <%- include('partials/footer') %>
</body>

</html>