<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                2023 @ Football
            </p>
        </div>
    </div>
</footer>
<script src="/javascripts/modal.js"></script>
<script src="/javascripts/actionButton.js"></script>
<script src="/javascripts/utils.js"></script>